<header>
    <div class="header-bg">
        <img src="images/arlequin.jpg" alt="imgheader" data-focus-left="0.50" data-focus-top="0.03" data-focus-right="0.73" data-focus-bottom="0.99" />
    </div>
</header>
<div class="arlequin-header-title ">
  <div class="arlequin-banner">
    <img src="images/banner.jpg" alt="imgheader" data-focus-left="0.50" data-focus-top="0.03" data-focus-right="0.73" data-focus-bottom="0.99" />
  </div>
  <div class="arlequin-title vertical-center white-trspt-bg">
    <h1>Arlequin</h1>
  </div>
</div>
<section class="grey-bg" id="design">
  <h1>Design</h1>
  <div class="pdg-r-l-b-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <img src="images/blueprint.jpg" />
        </div>
      </div>
    </div>
    <p>La diazographie est un procédé de reproduction de plans, en bleu sur fond blanc basé sur l'ammoniaque. Le transfert de l'original vers la copie se fait par contact. Ce procédé a été utilisé au xxe siècle pour effectuer notamment les copies de plans d'architecture ou de dessin industriel. Il est maintenant tombé en désuétude, du fait de l'apparition d'autres procédés de reprographie, et de la généralisation de la conception assistée par ordinateur (CAO) et des tables traçantes, et des effets indésirables de produits chimiques dérivés de l'ammoniaque). Breizh power.</p>
  </div>
</section>
<section id="innov">
  <h1>Innovations</h1>
  <div class="pdg-r-l-b-3">
    <p>Une innovation est une nouveauté sociale, un nouveau produit, un nouveau service ou un nouveau bien qui a pu être implémenté8. Le champ d'appréciation de la nouveauté peut se faire au niveau de l'acteur économique (consommateur ou entreprise par exemple) et/ou au niveau du marché pertinent (marché géographique ou marché du produit). Les éléments que l'on cherche à apprécier pour matérialiser la nouveauté peuvent être, par exemple, l'apparence, les performances, l'ergonomie, la puissance, les fonctionnalités, etc. Concrètement, une innovation — c'est quelque chose qui, produit ou reproduit en grand nombre et commercialisé ou déployé pour la première fois avec succès, a amélioré, changé, modifié, transformé ou révolutionné un secteur d'activité, une pratique sociale ou la vie d'un grand nombre d'individus, ceci le plus souvent de façon inattendue et inconsciente.</p>
  </div>
</section>
<section class="grey-bg" id="spec">
  <h1>Spécifications</h1>
  <div class="row pdg-r-l-b-3">
    <div class="col-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Specs #1</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Specs #2</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Specs #3</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Specs #4</a>
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <h5>Spécification #1</h5>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nunc libero, fermentum sit amet faucibus eu, molestie vitae lectus. Nulla tincidunt, nulla eu ultrices hendrerit, purus magna luctus odio, eu maximus neque mi ut ipsum. Praesent tincidunt turpis ante, vitae sagittis felis dignissim et. Phasellus viverra leo nunc, a iaculis leo hendrerit nec. Aliquam eget sem tellus. Nam rhoncus vulputate erat, nec scelerisque nibh consectetur eu. Nullam elit dui, convallis sed leo eget, imperdiet viverra nulla.</p>
          <div class="container-fluid">
            <div class="row">
              <div class="col-4 place-holder">
                <img src="images/sail1.jpg">
              </div>
              <div class="col-4 place-holder">
                <img src="images/sail2.jpg">
              </div>
              <div class="col-4 place-holder">
                <img src="images/sail3.jpg">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <h5>Spécification #2</h5>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nunc libero, fermentum sit amet faucibus eu, molestie vitae lectus. Nulla tincidunt, nulla eu ultrices hendrerit, purus magna luctus odio, eu maximus neque mi ut ipsum. Praesent tincidunt turpis ante, vitae sagittis felis dignissim et. Phasellus viverra leo nunc, a iaculis leo hendrerit nec.</p>
          <table class="table">
            <thead>
              <tr>
                <th scope="col-3">#</th>
                <th scope="col-3">Nom</th>
                <th scope="col-3">Longueur</th>
                <th scope="col-3">Hauteur</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Le Nautilus</td>
                <td>30m</td>
                <td>5m</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Le Hollandais Volant</td>
                <td>40m</td>
                <td>10m</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>L'Argo</td>
                <td>10m</td>
                <td>3m</td>
              </tr>
              <tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <h5>Spécification #3</h5>
          <!-- 16:9 aspect ratio -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="video/sailboat2.mp4"></iframe>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
          <h5>Spécification #4</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="media">
  <h1>Media</h1>
  <div class="container-fluid pdg-l-r-10 pdg-b-3">
    <div class="row vh35">
      <div class="col-4 pdg0 h100 ">
        <img class="w100-h100" src="images/media1.JPG" data-focus-left=".50" data-focus-top=".03" data-focus-right=".73" data-focus-bottom=".99">
      </div>
      <div class="col-8 pdg0 h100">
        <img class="w100-h100" src="images/media2.JPG" data-focus-left=".50" data-focus-top=".03" data-focus-right=".73" data-focus-bottom=".99">
      </div>
    </div>
    <div class="row vh35">
      <div class="col-8 pdg0 h100">
        <img class="w100-h100" src="images/media4.JPG" data-focus-left=".50" data-focus-top=".03" data-focus-right=".73" data-focus-bottom=".99">
      </div>
      <div class="col-4 pdg0 h100">
        <img class="w100-h100" src="images/media6.JPG" data-focus-left=".50" data-focus-top=".03" data-focus-right=".73" data-focus-bottom=".99">
      </div>
    </div>
  </div>
</section>
<section class="grey-bg" id="config">
  <h1>{{personalize}}</h1>
    {{!-- Buttone choices --}}
    <div class="container-fluid container-choice pdg-2">
      {{!-- <h3>Options:</h3>             --}}
      <div class="row">
          <div class="col-md-12 centering-options">
              <!-- black roof tape -->
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="product_option5" value="option1">
                  <label class="form-check-label" for="product_option5">{{roof}}</label>
              </div>
              <!-- black pont -->
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="product_option6" value="option2">
                  <label class="form-check-label" for="product_option6">{{afterDeck}}</label>
              </div>
          </div>
      </div>
    </div>
    <!--
      CANVAS
    -->
    <div class="canvas" id="prod">
      <!-- base image-->
      <div class="base-img-div">
          <img id="base" src="images/calques/base.png" alt="base-image"/>
      </div>
      <!-- Calques layer -->
      <div class="layers-img-div">
          <img id="bulbe" style="z-index:1;" src="#" alt="bulbe-image"/>
          <!-- coque layer -->
          <img id="coque" style="z-index:1;" src="#" alt="coque-image"/>
          <!-- nez layer -->
          <img id="nez" style="z-index:1;" src="#" alt="nez-image"/>
          <!-- pont layer -->
          <img id="pont" style="z-index:3;" src="#" alt="pont-image"/>

          <img id="roof-tape" style="z-index:2;" src="#" alt="roof-tape-image"/>

          <img id="back-pont" style="z-index:2;" src="#" alt="back-pont-image"/>
      </div>
      {{!-- PALETTES COULEUR --}}
      <div id="palette-coque" class="palette-div invisible" style="z-index: 3;">
        <div class="container-fluid config-shadow">
          <div class="row hgt-100">
            <div class="col-2">
              <div class="vertical-center pdg-2 hgt-100 ">
                <div class="color-sample red hvr-grow" value="1"></div>
                <div class="color-sample blue hvr-grow" value="2"></div>
                <div class="color-sample light-blue hvr-grow" value="3"></div>
                <div class="color-sample orange hvr-grow" value="4"></div>
                <div class="color-sample purple hvr-grow" value="5"></div>
                <div class="color-sample green hvr-grow" value="6"></div>
                <div class="color-sample yellow hvr-grow" value="7"></div>
                <div class="color-sample black hvr-grow" value="8"></div>
                <div class="color-sample white hvr-grow" value="0"></div>
              </div>
            </div>
            <div class="col-10">
            </div>
          </div>
        </div>
      </div>
      <div id="palette-bulbe" class="palette-div" style="z-index: 3;">
        <div class="container-fluid config-shadow">
          <div class="row hgt-100">
            <div class="col-2 palette">
              <div class="vertical-center pdg-2 hgt-100">
                <div class="color-sample  red hvr-grow" value="1"></div>
                <div class="color-sample blue hvr-grow" value="2"></div>
                <div class="color-sample light-blue hvr-grow" value="3"></div>
                <div class="color-sample orange hvr-grow" value="4"></div>
                <div class="color-sample purple hvr-grow" value="5"></div>
                <div class="color-sample green hvr-grow" value="6"></div>
                <div class="color-sample yellow hvr-grow" value="7"></div>
                <div class="color-sample black hvr-grow" value="8"></div>
                <div class="color-sample white hvr-grow" value="0"></div>
              </div>
            </div>
            <div class="col-10">
            </div>
          </div>
        </div>
      </div>
      <div id="palette-nez" class="palette-div invisible" style="z-index: 3;">
        <div class="container-fluid config-shadow">
          <div class="row hgt-100">
            <div class="col-2 palette">
              <div class="vertical-center pdg-2 hgt-100">
                <div class="color-sample yellow hvr-grow" value="7"></div>
                <div class="color-sample black hvr-grow" value="8"></div>
                <div class="color-sample white hvr-grow" value="0"></div>
              </div>
            </div>
            <div class="col-10">
            </div>
          </div>
        </div>
      </div>
      <div id="palette-pont" class="palette-div invisible" style="z-index: 3;">
        <div class="container-fluid config-shadow">
          <div class="row hgt-100">
            <div class="col-2 palette">
              <div class="vertical-center pdg-2 hgt-100">
                <div class="color-sample black hvr-grow" value="8"></div>
                <div class="color-sample white hvr-grow" value="0"></div>
              </div>
            </div>
            <div class="col-10">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    {{!-- BOUTON SELECTION --}}
    <div class="container-fluid parts-selector">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills nav-fill" role="tablist">
            <li class="nav-item">
              <a class="nav-link" id="cq" data-toggle="tab" href="#cq" aria-selected="true" aria-controls="cq" role="tab">{{hull}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" id="bb"href="#bb" aria-selected="false" aria-controls="bb" role="tab">{{bulb}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="nz" data-toggle="tab" href="#nz" aria-selected="false" aria-controls="nz" role="tab">{{bow}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pt" data-toggle="tab" href="#pt" aria-selected="false" aria-controls="pt" role="tab">{{deck}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="download-btn" style="text-align: right;">
    <img id="loading-gif" class="invisible" src="images/loader.gif" />
    <a name="" id="save-img" class="btn">Télécharger</a>
    <p id="dwnld-status" class="invisible">Merci de patienter...</p>
  </div>
  <div class="container-fluid">
    <div class="row justify-align-center">
      <div class="pdg-r-l-b-3 col-12">
        <h4>{{summary}}</h4>
        <table class="table" id="summary">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">{{hull}}</th>
              <th scope="col">{{bulb}}</th>
              <th scope="col">{{bow}}</th>
              <th scope="col">{{deck}}</th>
              <th scope="col">{{afterDeck}}</th>
              <th scope="col">{{roof}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{color}}</th>
              <td class="white" id="res-coq">Blanc</td>
              <td class="white" id="res-bulb">Blanc</td>
              <td class="white" id="res-nez">Blanc</td>
              <td class="white" id="res-pont">Blanc</td>
              <td class="white" id="res-adh">Blanc</td>
              <td class="white" id="res-pont-arr">Blanc</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<section >
  <h1>{{reserve}}</h1>
  {{!-- Boat selection detail --}}
  <div class="container-fluid">
    <div class="row justify-align-center">
      <div class="col-md-12">
        <h2 style="padding-bottom: 5%; text-align: center;">Un formulaire de réservation sera bientôt disponible!</h2>
      </div>
    </div>
  </div>
</section>
<section id="contact">
  <!-- FOOTER -->
  <footer>
    <div class="container-fluid footerContainer">
      <div class="row">
        <div class="col-md-12">
          <img src="../../images/Logo_DWS_2017_blanc.png"  class="footerlogo" alt="Dyna Wing sail logo">
        </div>
      </div>
      <div class="row socialLinks">
        <div class="col-md-4 d-none d-md-block social">
          <a href="https://www.facebook.com/Dyna-wing-sail-215317049050180/" target="_blank"><img src="images/logo_fbWhite.png" alt="facebook logo" class="logoSocialNetwork"/></a>
        </div>
        <div class="col-md-4 center">
          <!-- Begin MailChimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
          <div id="mc_embed_signup">
            <form action="https://dynawingsail.us18.list-manage.com/subscribe/post?u=0147d490cb356cfdd20932e50&amp;id=a0ea31bd89" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <label class="NewsLabel" for="mce-EMAIL">Newsletter</label>
                <br />
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="votre email" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div class="row justify-content-center" style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_0147d490cb356cfdd20932e50_a0ea31bd89" tabindex="-1" value="">
                </div>
                <div class="row justify-content-center clear">
                  <input type="submit" value="Subscribe" name="souscrire" id="mc-embedded-subscribe" class="button">
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-4 d-none d-md-block social">
          <a href="https://www.instagram.com/dynawingsail/?hl=fr" target="_blank"><img src="images/logo_instaWhite.png" alt="instagram logo" class="logoSocialNetwork"/></a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6 d-xs-block d-md-none social">
          <a href="https://www.facebook.com/Dyna-wing-sail-215317049050180/" target="_blank"><img src="images/logo_fbWhite.png" alt="facebook logo" class="logoSocialNetwork"/></a>
        </div>
        <div class="col-6 d-xs-block d-md-none social">
          <a href="https://www.instagram.com/dynawingsail/?hl=fr" target="_blank"><img src="images/logo_instaWhite.png" alt="instagram logo" class="logoSocialNetwork"/></a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12 loveWCS">
          <a href="https://wildcodeschool.fr/lille/" class="made-with-love" target="_blank"> Made with <img src="images/heart.png" alt="heart logo"/> by Wild Code School Lille</a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6 legalLinks">
          <a href="mentionslegales" target=_blank>{{legalMentions}}</a>
        </div>
        <div class="col-6 legalLinks">
          <a href="cgu" target=_blank>{{cgu}}</a>
        </div>
      </div>
    </div>
  </footer>
  <!-- END FOOTER -->
</section>
