{{!-- Section: Header --}}
<header>
  <div class="container-fluid header-bg">
  <img class="backgroundPark" src="images/DSC_0350.JPG" alt="imgheader" data-focus-left="0.50" data-focus-top="0.03" data-focus-right="0.73" data-focus-bottom="0.99" />
  <img class="DWSlogo" src="images/Logo_DWS_2017_blanc.png" alt="logo" />
    <div class="row header-content">
      <div class="col-xs-12 col-md-6 moto">
        <h1 class="headerText greenTitle">{{headerTextOne}}&nbsp;</h1>
      </div>
      <div class="col-xs-12 col-md-6 d-none d-md-block moto">
        <h1 class="headerText black">{{headerTextTwo}}</h1>
      </div>
      <div class="col-xs-12 col-md-6 d-xs-block d-md-none moto">
        <h1 class="headerText black">{{headerTextTwoResponsive}}</h1>
      </div>
    </div>
  </div>
</header>
{{!-- Section: Design et Innovation --}}
<hr class="separator">
<section class="container-fluid design-container">
  <div class="row descriptionAndAdvantages">
    <div class="col-md-7 box-8 d-none d-md-block" data-aos="fade-right">
      <img src="images/unnamed-2.jpg" alt="Voiliers" data-focus-left="0.28" data-focus-top="0.19" data-focus-right="0.68" data-focus-bottom="0.75" />
    </div>
    <div class="col-xs-12 col-md-5 box-4 design-col">
      <div class="box-8-text padding-right-none" data-aos="fade-left">
        <h2 class="designSubtitle" id="innov-h3">{{descriptionTitle}}</h2>
        <p>{{descriptionText}}</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-7 box-8 d-xs-block d-md-none " data-aos="fade-right">
      <img src="images/unnamed-2.jpg" alt="Voiliers et réalité augmentée" data-focus-left="0.28" data-focus-top="0.19" data-focus-right="0.68" data-focus-bottom="0.75" />
    </div>
  </div>
  <hr>
  <div class="row descriptionAndAdvantages">
    <div class="col-xs-12 col-md-6 box-8 design-col">
      <div data-aos="fade-right" class="box-8-text padding-left-none">
        <h2 class="designSubtitle">{{avantagesTitle}}</h2>
        <div class="row Advantages">
          <div class="col-1 subdivider">-</div>
          <div class="col-11 subdivider">{{avantageOne}}</div>
        </div>
        <div class="row Advantages">
          <div class="col-1 subdivider">-</div>
          <div class="col-11 subdivider">{{avantageTwo}}</div>
        </div>
        <div class="row Advantages">
          <div class="col-1 subdivider">-</div>
          <div class="col-11 subdivider">{{avantageThree}}</div>
        </div>
        <div class="row Advantages">
          <div class="col-1 subdivider">-</div>
          <div class="col-11 subdivider">{{avantageFour}}</div>
        </div>
        <div class="row Advantages">
            <div class="col-1 subdivider">-</div>
            <div class="col-11 subdivider">{{avantageFive}}</div>
        </div>
      </div>
    </div>
      <div class="col-xs-12 col-md-6 box-4" data-aos="fade-left">
        <img id="table-img" src="images/unnamed-1.jpg" alt="Voiliers et réalité augmentée" data-focus-left="0.00" data-focus-top="0.00" data-focus-right="0.88" data-focus-bottom="0.97"/>
      </div>
  </div>
</section>
<hr>
{{!-- Section: Video --}}
<section id="videoSection">
    <div id="videoBlock">
    <video autoplay muted loop id="dwsVideo">
        <source src="video/sailboat.mp4" type="video/mp4">
    </video>
    </div>
</section>
<hr>
{{!-- Section: Arlequin --}}
<section class="bg-primary" id="arlequin">
</section>
<hr>
{{!-- Section: Partenaires --}}
<section>
    <div class="container">
    <div class="row no-gutters">
        <div class="col-12 text-center">
        <h2 class="ourPartners">Nos partenaires</h2>
        <hr class="my-4">
        </div>
    </div>
    </div>
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-3 partnersLogo">
        <div>
            <img src="images/logo_epsi.png" class="logo text-primary sr-icons" alt="EPSI logo"></img>
        </div>
        </div>
        <div class="col-3 partnersLogo">
        <div>
            <img src="images/logo_isen.jpg" class="logo text-primary sr-icons" alt="ISEN logo"></img>
        </div>
        </div>
        <div class="col-3 partnersLogo">
        <div>
            <img src="images/logo_techshop.jpg" class="logo text-primary sr-icons" alt="Techshop logo"></img>
        </div>
        </div>
        <div class="col-3 partnersLogo">
        <div>
            <img src="images/logo_ccv.jpg" class="logo text-primary sr-icons" alt="CCV logo"></img>
        </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-3 partnersLogo">
        <div>
            <img src="images/logo_ffv.png" class="logo text-primary sr-icons" alt="FFV logo"></img>
        </div>
        </div>
        <div class="col-3 partnersLogo">
        <div>
            <img src="images/logo_wcs.jpg" class="logo text-primary sr-icons" alt="WCS logo"></img>
        </div>
        </div>
        <div class="col-3 partnersLogo">
        <div>
            <img src="images/logo_bpi.png" class="logo text-primary sr-icons" alt="BPI logo"></img>
        </div>
        </div>
    </div>
    </div>
</section>
<hr>
{{!-- Footer --}}
<section id="contact">
  <!-- FOOTER -->
  <footer>
    <div class="container-fluid footerContainer">
      <div class="row">
        <div class="col-md-12">
          <img src="../../images/Logo_DWS_2017_blanc.png"  class="footerlogo" alt="Dyna Wing sail logo">
        </div>
      </div>
      <div class="row socialLinks">
        <div class="col-md-4 d-none d-md-block social">
          <a href="https://www.facebook.com/Dyna-wing-sail-215317049050180/" target="_blank"><img src="images/logo_fbWhite.png" alt="facebook logo" class="logoSocialNetwork"/></a>
        </div>
        <div class="col-md-4 center">
          <!-- Begin MailChimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
          <div id="mc_embed_signup">
            <form action="https://dynawingsail.us18.list-manage.com/subscribe/post?u=0147d490cb356cfdd20932e50&amp;id=a0ea31bd89" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <label class="NewsLabel" for="mce-EMAIL">Newsletter</label>
                <br />
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="votre email" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div class="row justify-content-center" style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_0147d490cb356cfdd20932e50_a0ea31bd89" tabindex="-1" value="">
                </div>
                <div class="row justify-content-center clear">
                  <input type="submit" value="Subscribe" name="souscrire" id="mc-embedded-subscribe" class="button">
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-4 d-none d-md-block social">
          <a href="https://www.instagram.com/dynawingsail/?hl=fr" target="_blank"><img src="images/logo_instaWhite.png" alt="instagram logo" class="logoSocialNetwork"/></a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6 d-xs-block d-md-none social">
          <a href="https://www.facebook.com/Dyna-wing-sail-215317049050180/" target="_blank"><img src="images/logo_fbWhite.png" alt="facebook logo" class="logoSocialNetwork"/></a>
        </div>
        <div class="col-6 d-xs-block d-md-none social">
          <a href="https://www.instagram.com/dynawingsail/?hl=fr" target="_blank"><img src="images/logo_instaWhite.png" alt="instagram logo" class="logoSocialNetwork"/></a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12 loveWCS">
          <a href="https://wildcodeschool.fr/lille/" class="made-with-love" target="_blank"> Made with <img src="images/heart.png" alt="heart logo"/> by Wild Code School Lille</a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6 legalLinks">
          <a href="mentionslegales" target=_blank>{{legalMentions}}</a>
        </div>
        <div class="col-6 legalLinks">
          <a href="cgu" target=_blank>{{cgu}}</a>
        </div>
      </div>
    </div>
  </footer>
  <!-- END FOOTER -->
</section>
